html{
  overflow-x: hidden;
}
#topHeader{
  border-bottom: 1px solid #ebebeb;
}
#topHeader a{
  color: #2c3e50;
  font-weight: 600;
  font-size: 0.89rem;
}
.container-fluid{
  padding-left: 0;
  padding-right: 0;
}
nav ul li a {
	font-size: 1.1rem;
	font-weight: 600;
}
/*Star:footer*/
.full-footer{
  background-color: #76a6f4;
}
.top-footer p{
  color: white;
}
.top-footer a{
  color: white;
  font-weight: 600;
}
.top-footer{
  color: white;
}
.bottom-footer{
  background-color: #3a86ff;
}
.bottom-footer p{
  color: white;
}
/*End:footer*/

/*Start: Home page first section*/
.top-hero-section{
  background-color: #3498db;
  color: white;
}
.top-hero-section a{
  color: white;
  font-weight: 600;
}
.qualities-img{
  width: 200px;
}
/*Start: Home page 3rd section*/
.requirement-section{
  background-color: #004d80;
  color: white;
}
.home-newsletter{
  background-color: #004d80;
  color: white;
}
.home-newsletter .form-control{
  height: 50px;
  border-color: transparent;
  border-radius: 20px 0 0 20px;
}
.home-newsletter .btn{
  min-height: 50px;
  border-radius: 0 20px 20px 0;
  background: #be0280;
  color: #fff;
}

/*------------ About page---------------*/
.breadcrumbs-section{
  background-color: #e9ecef;
}
/*------------ Contact page---------------*/
.address p{
  font-weight: 600;
}
/*------------ Web designing page---------------*/
.bar{
  color:white;
  font-weight: 600;
  font-size: 1.1rem;
  border-radius: 17px;
  border: 1px solid rgb(82, 80, 80);
}