@using MegaAuctions.Models;
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="fontawesome-free-5.6.3-web/css/all.css" />
    <!-- Our Custom CSS style sheet -->
    <link rel="stylesheet" href="css/style.css" />
    <title>About us - DCompany</title>
</head>
<!-- xs<576 | 576<sm<768 | 768<md<992 | 992<lg<1200 | 1200<xl -->

<body>
    <!-- 2nd section -->
    <section class="about-company-section p-4">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center p-2">
                    <h2>Về chúng tôi</h2>
                    <hr />
                </div>
                <div class="col-md-3">
                    <img class="img-fluid" src="~/assets/aboutcontact/About/dangoai.jpg" alt="" />
                    <br />
                    <br /><br />
                    <img class="img-fluid" src="~/assets/aboutcontact/About/dangoai2.jpg" alt="" />
                </div>
                <div class="col-md-9">
                    <p class="p-4">
                        Mega là một tập đoàn của Việt Nam được thành lập vào ngày 12/2/2021
                        bởi Dương Công Duy, một chuyên gia lập trình máy tính.
                        Ban đầu MegaBid chỉ là một website cá nhân phục vụ mục đích học tập.
                        Tuy nhiên chỉ sau một thời gian ngắn, anh nhìn ra tiềm năng lớn lao
                        của MegaBid nên đã cùng hợp tác với Nguyễn Thành Đạt và Nguyễn Thanh
                        Trường cùng nhau xây dựng hệ thống một cách nghiêm túc. Năm 2022, Megabid
                        chính thức đi vào hoạt động một cách nghiêm túc.
                        <br><br>
                        Ban đầu, hệ thống gặp khó khăn do chưa tiếp cận và thay đổi nhận thức của
                        người tiêu dùng về hình thức đấu giá trực tuyến. Do đó nguồn thu trong sáu
                        tháng đầu tiên bằng không, đôi khi còn âm so với thời gian và công sức của
                        cả nhóm bỏ ra.
                        <br />
                        <br />
                        Tuy nhiên, sau khoảng thời gian tìm hiểu thị trường, cùng các giải pháp cho
                        hệ thống, các hình thức quảng bá thì hệ thống càng được biết đến rộng rãi.
                        Trong một năm tiếp theo, hệ thống thu về lợi nhuận cực lớn. Đầu tiên là nguồn
                        thu từ việc đấu giá các sản phẩm, sau đó hệ thống nâng cấp cho người dùng tự có
                        thể đấu giá sản phẩm của chính mình .Hệ thống sẽ thu lợi nhuận dựa trên các
                        sản phẩm được đấu giá. Ngoài ra còn các nguồn thu khác như quảng cáo, cho thuê
                        kho bãi...
                        <br /><br />
                        Sau ngần ấy thời gian hoạt động, chúng tôi đã tạo ra cộng đồng khách hàng khá
                        lớn thông qua các mạng xã hội như
                        Facebook,Zalo,Twitter,Instagram....
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="requirement-section pt-1 pb-1 pt-md-2 pb-md-2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-9 text-center">
                    <h3>Tham gia đấu giá nào!</h3>
                </div>
                <div class="col-md-3 text-center">
                    <button class="btn btn-lg btn-primary">Đăng nhập</button>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">

            </div>
        </div>
    </section>
    <!-- 4th    section -->
    <section class="pt-3 pb-4">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h3>Đội ngũ của chúng tôi</h3>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center">
                    <img class="img-fluid p-5 qualities-img"
                         src="~/assets/aboutcontact/About/KaiTo.png"
                         alt="" />
                    <h5>CEO</h5>
                    <p>- Dương Công Duy</p>
                </div>
                <div class="col-md-4 text-center">
                    <img class="img-fluid p-5 qualities-img"
                         src="~/assets/aboutcontact/About/DatDz.png"
                         alt="" />
                    <h5>Business Analyst</h5>
                    <p>- Nguyễn Thành Đạt</p>
                </div>
                <div class="col-md-4 text-center">
                    <img class="img-fluid p-5 qualities-img"
                         src="~/assets/aboutcontact/About/KuTruong.png"
                         alt="" />
                    <h5>Human Resource</h5>
                    <p>- Nguyễn Thanh Trường</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center">
                    <img class="img-fluid p-5 qualities-img"
                         src="~/assets/aboutcontact/About/kevin.png"
                         alt="" />
                    <h5>Developer</h5>
                    <p>- Kevin De Bruyne</p>
                </div>
                <div class="col-md-4 text-center">
                    <img class="img-fluid p-5 qualities-img"
                         src="~/assets/aboutcontact/About/cristiano.png"
                         alt="" />
                    <h5>Sales Head</h5>
                    <p>- Cristiano Ronaldo</p>
                </div>
                <div class="col-md-4 text-center">
                    <img class="img-fluid p-5 qualities-img"
                         src="~/assets/aboutcontact/About/Messi.png"
                         alt="" />
                    <h5>Staff</h5>
                    <p>- Leo Messi</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer:end -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="bootstrap/js/jquery-3.3.1.slim.min.js"></script>
    <script src="bootstrap/js/popper.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>

